@model MojecFaultyMeter.Models.Discos

@{
    ViewBag.Title = "CreateDisco";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Hi, welcome back!</h4>
                <p class="mb-0">Manage your faulty meter</p>
            </div>
        </div>
        <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Admin</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Dashboard</a></li>
            </ol>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   
                    <div class="card-body">
                        <div class="horizontal-form">
                            <div class="card-title">
                                <h4>Create Disco</h4>
                            </div>
                            <form class="form-horizontal" action="CreateDisco" method="post"> 
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Disco</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Disco" name="DiscoName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Disco AB</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Disco AB" name="DiscoAB">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

